<footer
  class="bg-dark text-white text-center py-4 mt-auto"
  style="background: linear-gradient(to right, #141e30, #243b55)"
>
  <div class="container">
    <section class="social-icons mb-3">
      <a
        href="https://facebook.com"
        target="_blank"
        class="btn btn-outline-light btn-floating m-1"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <a
        href="https://twitter.com"
        target="_blank"
        class="btn btn-outline-light btn-floating m-1"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>
      <a
        href="https://instagram.com"
        target="_blank"
        class="btn btn-outline-light btn-floating m-1"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>
      <a
        href="https://linkedin.com"
        target="_blank"
        class="btn btn-outline-light btn-floating m-1"
        role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <a
        href="https://github.com"
        target="_blank"
        class="btn btn-outline-light btn-floating m-1"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2025 BookNHost. All rights reserved.
  </div>
</footer>
