/ALL HTML TAGS NOTES.html
/animation.css
/animation.html
/app.js
/Backend
/bootstrap.css
/bootstrap.html
/cat.jpg
/color meaning.png
/color theory.jpg
/database-relationships
/dog.jpg
/flex.html
/flex1.css
/Github
/grid.css
/grid.html
/IMP PTS.txt
/index1.html
/index2.html
/index3.html
/index4.html
/indexJS.html
/inheritance_demo.css
/inheritance_demo.html
/JS1
/MAJOR_PROJECT
/man.jpg
/MIDDLEWARES
/mini_project.css
/mini_project.html
/MONGO
/MONGODB_EXPRESS
/petadopt.css
/petadopt.html
/photo.jpg
/PracticeQs1.css
/PracticeQs1.html
/professional photo (Small).jpeg
/professional photo.png
/QUORA_CRUD_RESTFULAPIS
/REACT_DELTA
/SAMPLE.jpeg
/SIMON GAME
/SPOTIFY CLONE
/style1.css
/style2.css
/style3.css
/style4.css
/vss_tech.jpg
/women.jpg