<% layout("/layouts/boilerplate") %>

<div
  id="successAlert"
  class="alert alert-success mx-auto w-75"
  style="margin-top: 100px"
  role="alert"
>
  <h4 class="alert-heading">🎉 Congratulations!</h4>
  <p>
    Your firm has been <strong>successfully listed</strong> on our platform.
  </p>
  <hr />
  <p class="mb-0">
    Thank you for registering with us. We will get in touch with you shortly!
  </p>
</div>
