<% layout("/layouts/boilerplate") %>

<div class="alert alert-success" style="margin-top: 100px" role="alert">
  <h4 class="alert-heading">Success!</h4>
  <p>
    Your event details have been submitted successfully. We will review your
    request and get back to you soon.
  </p>
  <hr />
  <p class="mb-0">Thank you for choosing us!</p>
</div>
<a href="/dashboard" class="btn btn-outline-primary">Go to Dashboard</a>

<style>
  html,
  body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  main {
    flex: 1;
  }
</style>
